<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eigen" version="3.3.3" targetFramework="native" />
  <package id="NLapack" version="1.0.14" targetFramework="native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="native" />
  <package id="vcpkg.C.Users.amon.source.repos.RoboticsLearning.vcpkg.vcpkgmaster" version="1.0.0" targetFramework="native" />
</packages>